student_sgent/education-service-api/dify_student_workflow.yml
app:
  description: 7大场景：请假/心理/投诉/DDL/进度/海外/增值
  icon: 🎓
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: advanced-chat
  name: 🎓 学生智能助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.3@966063fe991c50e5ac82106e65fc1949f852b2989ab2433ac028f0d25c6f92b1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - name: FASTAPI_BASE_URL
    value_type: string
    value: http://localhost:8000
    description: FastAPI 学生服务地址。Docker部署用 http://host.docker.internal:8000
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '👋 你好！我是你的专属学习助手。可以帮你：

      📝 请假申请  🧠 情绪关怀  📣 投诉建议

      📚 学业DDL查询  📈 申请进度  🌏 海外生活  🎓 增值项目'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我想请假3天
    - 最近压力很大心情不好
    - 我的论文DDL是什么时候
    - 我的留学申请到哪一步了
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    nodes:
    - id: '1000000000001'
      type: custom
      position:
        x: 80
        y: 160
      positionAbsolute:
        x: 80
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 72
      width: 241
      data:
        type: start
        title: 开始
        selected: false
        variables:
        - variable: student_id
          label: 学生ID
          type: number
          required: true
    - id: '1000000000002'
      type: custom
      position:
        x: 280
        y: 160
      positionAbsolute:
        x: 280
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 创建会话
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/init-session'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"student_id": {{start.student_id}}, "agent_type": "student"}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000003'
      type: custom
      position:
        x: 480
        y: 160
      positionAbsolute:
        x: 480
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 180
      width: 241
      data:
        type: code
        title: 解析session_id
        selected: false
        code_language: python3
        code: "import json\ndef main(init_session_body: str) -> dict:\n    data = json.loads(init_session_body or \"{}\")\n    return {\"session_id\": data.get(\"session_id\", 0)}"
        variables:
        - variable: init_session_body
          value_selector:
          - '1000000000002'
          - body
        outputs:
        - name: session_id
          type: number
    - id: '1000000000004'
      type: custom
      position:
        x: 680
        y: 80
      positionAbsolute:
        x: 680
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 240
      width: 241
      data:
        type: llm
        title: 意图识别
        selected: false
        model:
          provider: langgenius/tongyi/tongyi
          name: qwen3.7-max
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - id: 7737950b-385e-47d5-93a8-17deaeee4465
          role: system
          text: '你是一个学生助手意图分类器。根据用户输入，只输出意图代码：

            leave_request — 请假

            emotion_chat — 情绪关怀

            feedback_submit — 投诉建议

            academic_query — 学业查询(DDL/论文/考试)

            progress_query — 申请进度

            overseas_life — 海外生活

            upselling — 增值转化


            只输出意图代码，不要输出其他内容。'
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            user: 学生
            assistant: 助手
          window:
            enabled: false
            size: 50
        vision:
          enabled: false
    - id: '1000000000005'
      type: custom
      position:
        x: 80
        y: 460
      positionAbsolute:
        x: 80
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 提交请假
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/submit-leave'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"student_id": {{start.student_id}}, "leave_type": 1, "start_date": "", "end_date": "", "reason": "{{#sys.query#}}"}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000006'
      type: custom
      position:
        x: 80
        y: 730
      positionAbsolute:
        x: 80
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: llm
        title: 请假回复
        selected: false
        model:
          provider: langgenius/tongyi/tongyi
          name: qwen3.7-max
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - id: 3fdf5c00-de52-4409-80ad-cc0e3e1f94f2
          role: system
          text: '你是学生助手。请假API返回了JSON结果：{{#1000000000005.body#}}

            如果success为true，告诉学生申请已提交等待审批。

            如果success为false，解释原因并安抚学生。'
        context:
          enabled: true
          variable_selector:
          - '1000000000005'
          - body
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            user: 学生
            assistant: 助手
          window:
            enabled: false
            size: 50
        vision:
          enabled: false
    - id: '1000000000007'
      type: custom
      position:
        x: 280
        y: 460
      positionAbsolute:
        x: 280
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 记录情绪
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/record-emotion'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"student_id": {{start.student_id}}, "emotion_score": 0, "emotion_tag": "", "trigger_keywords": "", "interaction_content": "{{#sys.query#}}", "record_date": ""}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000008'
      type: custom
      position:
        x: 280
        y: 730
      positionAbsolute:
        x: 280
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: llm
        title: 情绪回复
        selected: false
        model:
          provider: langgenius/tongyi/tongyi
          name: qwen3.7-max
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - id: 89d46bbc-76a3-4856-9aa5-eef80f569262
          role: system
          text: '你是温暖的心理辅导助手。请先倾听学生的倾诉。

            情绪记录API返回：{{#1000000000007.body#}}

            如果alert_triggered为true，特别安抚并建议联系心理老师。'
        context:
          enabled: true
          variable_selector:
          - '1000000000007'
          - body
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            user: 学生
            assistant: 助手
          window:
            enabled: false
            size: 50
        vision:
          enabled: false
    - id: '1000000000009'
      type: custom
      position:
        x: 480
        y: 460
      positionAbsolute:
        x: 480
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 提交工单
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/submit-feedback'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"student_id": {{start.student_id}}, "category": 5, "title": "", "content": "{{#sys.query#}}"}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000010'
      type: custom
      position:
        x: 480
        y: 730
      positionAbsolute:
        x: 480
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: llm
        title: 工单回复
        selected: false
        model:
          provider: langgenius/tongyi/tongyi
          name: qwen3.7-max
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - id: 5fbbe4d8-efdc-431f-aec4-8ff1d13467be
          role: system
          text: '投诉工单API返回：{{#1000000000009.body#}}

            success为true时告知工单ID和SLA截止时间。

            success为false时致歉并请稍后重试。'
        context:
          enabled: true
          variable_selector:
          - '1000000000009'
          - body
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            user: 学生
            assistant: 助手
          window:
            enabled: false
            size: 50
        vision:
          enabled: false
    - id: '1000000000011'
      type: custom
      position:
        x: 680
        y: 460
      positionAbsolute:
        x: 680
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 80
      width: 241
      data:
        type: http-request
        title: 查询DDL
        selected: false
        method: get
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/upcoming-deadlines?student_id={{start.student_id}}&upcoming_days=7'
        authorization:
          type: no-auth
        params: []
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000012'
      type: custom
      position:
        x: 880
        y: 460
      positionAbsolute:
        x: 880
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 80
      width: 241
      data:
        type: http-request
        title: 查询进度
        selected: false
        method: get
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/progress-lookup?student_id={{start.student_id}}'
        authorization:
          type: no-auth
        params: []
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000013'
      type: custom
      position:
        x: 1080
        y: 460
      positionAbsolute:
        x: 1080
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 80
      width: 241
      data:
        type: http-request
        title: 海外信息
        selected: false
        method: get
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/overseas-context?student_id={{start.student_id}}'
        authorization:
          type: no-auth
        params: []
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000014'
      type: custom
      position:
        x: 1280
        y: 460
      positionAbsolute:
        x: 1280
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 营销触达
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/log-touch'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"student_id": {{start.student_id}}, "program_id": "", "text": ""}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000015'
      type: custom
      position:
        x: 880
        y: 730
      positionAbsolute:
        x: 880
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 110
      width: 241
      data:
        type: http-request
        title: 审计日志
        selected: false
        method: post
        url: '{{FASTAPI_BASE_URL}}/api/v1/dify/tools/log-message'
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: []
        body:
          type: json
          data: '{"session_id": {{#1000000000003.session_id#}}, "role": 2, "content": "{{#sys.query#}}", "llm_model": "deepseek-chat"}'
        timeout:
          connect: 10
          read: 60
          write: 30
          max_connect_timeout: 0
          max_read_timeout: 0
        retry_config:
          max_retries: 0
          retry_interval: 0
          retry_enabled: false
        ssl_verify: true
    - id: '1000000000016'
      type: custom
      position:
        x: 1080
        y: 730
      positionAbsolute:
        x: 1080
        y: 730
      selected: false
      sourcePosition: right
      targetPosition: left
      height: 102
      width: 241
      data:
        type: answer
        title: 回复
        selected: false
        answer: '已收到你的请求，后端正在处理。


          👉 导入后请将本节点的输出内容改为对应场景的变量：

          - 请假分支：{{#1000000000006.text#}}

          - 情绪分支：{{#1000000000008.text#}}

          - 工单分支：{{#1000000000010.text#}}

          - DDL/进度/海外/营销分支：{{#1000000000015.body#}}


          或使用变量聚合器统一输出。'
        variables: []
    edges:
    - id: 1000000000001-source-1000000000002-target
      source: '1000000000001'
      target: '1000000000002'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: start
        targetType: http-request
    - id: 1000000000002-source-1000000000003-target
      source: '1000000000002'
      target: '1000000000003'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: code
    - id: 1000000000003-source-1000000000004-target
      source: '1000000000003'
      target: '1000000000004'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: code
        targetType: llm
    - id: 1000000000004-source-1000000000005-target
      source: '1000000000004'
      target: '1000000000005'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000005-source-1000000000006-target
      source: '1000000000005'
      target: '1000000000006'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
    - id: 1000000000006-source-1000000000015-target
      source: '1000000000006'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000015-source-1000000000016-target
      source: '1000000000015'
      target: '1000000000016'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
    - id: 1000000000004-source-1000000000007-target
      source: '1000000000004'
      target: '1000000000007'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000007-source-1000000000008-target
      source: '1000000000007'
      target: '1000000000008'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
    - id: 1000000000008-source-1000000000015-target
      source: '1000000000008'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000004-source-1000000000009-target
      source: '1000000000004'
      target: '1000000000009'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000009-source-1000000000010-target
      source: '1000000000009'
      target: '1000000000010'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
    - id: 1000000000010-source-1000000000015-target
      source: '1000000000010'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000004-source-1000000000011-target
      source: '1000000000004'
      target: '1000000000011'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000011-source-1000000000015-target
      source: '1000000000011'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
    - id: 1000000000004-source-1000000000012-target
      source: '1000000000004'
      target: '1000000000012'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000012-source-1000000000015-target
      source: '1000000000012'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
    - id: 1000000000004-source-1000000000013-target
      source: '1000000000004'
      target: '1000000000013'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000013-source-1000000000015-target
      source: '1000000000013'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
    - id: 1000000000004-source-1000000000014-target
      source: '1000000000004'
      target: '1000000000014'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
    - id: 1000000000014-source-1000000000015-target
      source: '1000000000014'
      target: '1000000000015'
      sourceHandle: source
      targetHandle: target
      type: custom
      selected: false
      zIndex: 0
      data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
    viewport:
      x: 0
      y: 0
      zoom: 0.8
  rag_pipeline_variables: []
